* text=auto eol=lf
*.pdf binary
*.png binary
*.jpg binary
*.eps binary

*.f90 diff=Fortran
*.tex diff=Tex
*.aux diff=Tex
*.bbl diff=BibTex
*.blg diff=BibTex
*.out diff=Tex
*.bib diff=BibTex
*.sh diff=Shell

*.sh linguist-language=Shell
*.tex linguist-language=Tex
*.ini linguist-language=Tex
*.lvt linguist-language=Tex
 
